.headertext { /* making header align*/
  text-align: center;
  background-color:#242424;
  color: #E5DCC5;
  margin-bottom: 50;
  margin-top: 0;
}

.center { /*centering body */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main { /*main background*/
  background-color: #848fa5;
}

body { /* more background*/
  margin: 0;
  background-color: #848fa5;
}

hr { /*horizontal rulers*/
  margin-left: auto;
  margin-right: auto;
}

.footertext { /*making footer of page*/
  text-align: center;
  background-color: #242424;
  color: #E5DCC5;
  margin-bottom: 50;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top:3px;
}

body > main > article > header {
  text-align: center;
} /*making headers centered*/

p, ul, ol { /*text of body*/
  font-family: sans-serif;
  color:#e5dcc5;
}

h2 { /*text of headers*/
  font-family: fantasy;
  font-weight: 100;
  color:#e5dcc5;
  font-size: 32px;
  height: 30px;
}

/*pseudo link colors*/

a:link    { color: blue;  }
a:visited { color: yellow;   }
a:hover   { color: purple; }
a:active  { color: red;  }

.group {
  display: flex;
  flex-direction: column;
  margin-bottom:100px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

img {
  width: 70%;
 
}

.bg-callout {
  background-color: #212121;
}

body > main > section > div > h3 {
  font-family: fantasy;
  font-weight: 100;
  color:#e5dcc5;
  font-size: 25px;
  height: 30px;
}

section {
  margin-top: 50px;
}

@media all and (min-width: 800px) {
  section {
    padding: 0;
  }

  .group {
    flex-direction: row;
  }
}